<header>
    <div class="navbar bg-primary shadow">
        <div style="margin-left: 10%;" class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;color: white;" class="fa fa-truck">&nbsp;
            </i>
        <strong style="color:white">
            ShipKart
        </strong>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search products">
        </div>
        <span class="fa fa-search search-icon"></span>
        </div>
        <button class="btn btn-primary">
            <i style="font-size:40px; right:3%" class="fa fa-shopping-cart"></i>
            <div styel class="badge bg-danger">1</div>
        </button>
    </div>
    <app-products></app-products>
</header>
